<form id="email_signup" class="klaviyo_standard_embed_Nt7LfQ" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
  <input type="hidden" name="g" value="Nt7LfQ">
  <label for="k_id_email" class="h2">Get fresh trends + 20% off first order</label>
  <div class="klaviyo_field_group input-group">
    <input type="email" value="" name="email" class="input-group__field" id="k_id_email" placeholder="Your email" />
    <span class="klaviyo_form_actions input-group__btn">
      <button type="submit" class="btn klaviyo_submit_button">Subscribe</button>
    </span>
  </div>
  <div class="klaviyo_messages">
    <div class="success_message form--success" style="display: none; padding: 0.75rem 1rem;"></div>
    <div class="error_message label--error" style="display:none; padding-top: 0.5rem;"></div>
  </div>
</form>
<style type="text/css">
.klaviyo_styling.klaviyo_standard_embed_Nt7LfQ,
.klaviyo_condensed_styling.klaviyo_standard_embed_Nt7LfQ {
  font-family: inherit;
}.klaviyo_styling.klaviyo_standard_embed_Nt7LfQ label,
.klaviyo_condensed_styling.klaviyo_standard_embed_Nt7LfQ label {
  
}.klaviyo_styling.klaviyo_standard_embed_Nt7LfQ input[type=text],
.klaviyo_styling.klaviyo_standard_embed_Nt7LfQ input[type=email],
.klaviyo_condensed_styling.klaviyo_standard_embed_Nt7LfQ input[type=text],
.klaviyo_condensed_styling.klaviyo_standard_embed_Nt7LfQ input[type=email] {
  border-radius: undefined;
}.klaviyo_styling.klaviyo_standard_embed_Nt7LfQ .klaviyo_submit_button,
.klaviyo_condensed_styling.klaviyo_standard_embed_Nt7LfQ .klaviyo_submit_button {
  
  border-radius: undefined;
}.klaviyo_styling.klaviyo_standard_embed_Nt7LfQ .klaviyo_submit_button:hover,
.klaviyo_condensed_styling.klaviyo_standard_embed_Nt7LfQ .klaviyo_submit_button:hover {
  
}
</style>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('#email_signup', {
    hide_form_on_success: true
  });
</script>
<script>
  {% comment %} GA event for newsletter subscription {% endcomment %}
  document.onreadystatechange = function () {
    if (document.readyState == 'interactive') {
      document.querySelector('.klaviyo_submit_button').addEventListener('click', function() { ga('send', 'event', 'Button', 'Click', 'Subscribe'); }, false);
    }
  }
</script>
