{{ content_for_index }}

{% comment %}
  Greenfrog Instagram feed
{% endcomment %}
<div id="gfw-instashow"></div>

<script src="https://greenfrogweb.com/instashow/instashow.js" data-shop="objae1.myshopify.com"></script>